body{
	background-image: url("/img/concert.jpg");
	background-size: cover;
}


#bloc{
  text-align: center;
  margin-top: 15%;
  background-color: white;
  margin-left: 40%;
  margin-right: 40%;
  border-style: solid;
  color: brown;
  padding-bottom : 20px;
  padding-top : 10px;

}

#valid{
	margin-top : 1%;
}


#pseudo{
  font-size: 150%;
}

#mdp{
  font-size: 150%;
}

h1{
  font-size: 250%;
}
