body{
	background-color : #eeeeee;
	margin : 0px;
}


aside {
	background-color : lightblue;
	border-color : orange;
	border-style : double;
	border-width : 10px;
	text-align : right;
	margin-left : 75%;
  	margin-bottom : 10%;
}


#fond {
	margin-right : 0px;
	margin-left : 0px;
	margin-top : 8%;
	width : 100%;
	z-index : -1;
}


#favoris {
	width : 35%;
	border-style : outset;
	position : absolute;
	z-index : 2;
	text-align : center;
	margin-left : 30%;
	margin-top : -50px;
}


#barre {
	background-color : #a49393;
	position : fixed;
   	width : 100%;
   	height : 11%;
   	top : 0%;
	left : 0%;
}

#barre2 {
	background-color : #6a5d5d;
	color : white;
	position : fixed;
   	width : 100%;
   	height : 7%;
   	top : 11%;
	left : 0%;
	z-index : 3;
}

#titre {
	float : left;
	margin-left : 2%;
	margin-top : 1%;
	width : 10%;
	z-index : 10;
}

#bouton {
  	text-align : right;
	margin-right : 2%;
	float : right;
	margin-top : 1%;
	z-index : 10;
}

#cherch {
	margin-top : 0.8%;
	margin-left : 2%;
}

#valider {
	margin-left : 1%;
}

#section1 {
	margin-top : 5%;
  	background-image : url("/img/tennis.jpg");
  	background-size : 100%;
  	margin-left : 25%;
  	margin-right : 25%;
}

#section2 {
	margin-top : 5%;
  	background-image : url("/img/photo.jpg");
  	background-size : 100%;
  	margin-left : 25%;
  	margin-right : 25%;
}
#bas_page {
	margin-top : 30%;
	color : black;
	background-color : yellow;
}




/*#conteneur {
  	align-content: space-around;
}*/

footer {
  	background-color : white;
}
